.container {
    header {
        background-color: #f3c600;
        color: white;
        font-weight: 700;
        text-align: right;
        .header-description {
            span {
                color: red;
            }
        }
    }
    .nav {
        background-color: #fee05a;
        background-image: linear-gradient(to bottom, #fee05a 0%, #f3c600 100%);
        margin: 0;
        padding: 0;
        ul {
            margin: 0;
            list-style-type: none;
            li {
                color: white;
            }
            li:last-of-type {
                margin-left: auto;
            }
            a:hover {
                text-decoration: underline;
                color: black;
                background-color: #f3c600;
                background-image: linear-gradient(to bottom, #f7d337 0%, #fff2c1 100%);
            }
            a:link,
            a:visited {
                text-decoration: none;
                color: white;
                padding: 0.5rem 1rem;
            }
            a:active {
                color: white;
                background: #d90000;
            }
        }
    }
    section {
        article {
            border: 1px solid #ccc;
            margin: 0.2%;
            border-radius: 5.2px;
            margin: 0.2%;
            padding: 2px;
            figure {
                /* margin: 2%;*/
                margin: 0;
                img {
                    width: 300px;
                    height: 300px;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
                    border-radius: 5.2px;
                    padding-right: 1.2%;
                }
            }
            .text {
                margin: 2%;
            }
        }
    }
}
